/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

$colors: (
        blue: #3b83c0,
        green: #5bbd72,
        orange: #e07b53,
        pink: #d9499a,
        purple: #564f8a,
        red: #d95c5c,
        teal: #00b5ad,
        yellow: #f2c61f,
        black: #1b1c1d,
        grey: #767676
);

@each $color, $value in $colors{
  .text.#{"" + $color}{
    color: #{$value};
  }
  td.#{"" + $color},
  tr.#{"" + $color}{
    background-color: #{$value} !important;
    color: white !important;
  }
}
